<div class="list-group" id="sidebar-categories">
	<a ng-repeat="category in categories" ui-sref="channels({category: category, tag:null, channelname:null})" class="list-group-item">{{ category }}</a>
  	<br>

	<!-- searching -->
	<div class="hidden-xs">
		<form name="tagtest">
			<input type="text" ng-model="searchTag" placeholder=" separate tags by ,">
			<button ng-click="findChannelByTag(searchTag)">Tag Search</button>
		</form>
	</div>
	<br>

	<div class="hidden-xs">
		<form name="channelnametest">
			<input type="text" ng-model="searchChannelName">
			<button ng-click="findChannelByChannelName(searchChannelName)">Channel Search</button>
		</form>
	</div>
	<br>
</div>