<section class="experiment">
    <div class="make-center">
        <input type="text" id="room-id" value="abcdef" ng-model="extra.name">
        <button id="open-room" ng-click="openRoom()">Open Room</button>

        <form name="tagForm">
            <input type="text" ng-model="tag">
            <button ng-click="addTag()"> add this tag </button>
            <input type="text" ng-model="category">
            <button ng-click="addCategory()"> add this category</button>
            <input type="text" ng-model="coverImage">
            <button ng-click="addCoverImage()">add cover image link</button>
        </form>
        Tags for this video:
        <div ng-repeat="tag in extra.tags">
            {{tag}}
        </div></br>
        category for this video: {{extra.category}}</br>
        cover image link for this video: {{extra.coverImage}}</br>

        <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>
    </div>
    <div id="videos-container"></div>
</section>