<div class='row'>
	<div class='col-md-3'></div>
	<div class="col-md-6 profile">
	<!-- this div should be centered  -->
	<table class='borderless table'>
			<tr>
				<td><h2>Email Address</h2></td>
				<td><h2>{{user.email}}</h2></td> 
			</tr>
	</table>
	</div>
	<div class="col-md-3"></div>
</div>

<div class='row'>
	<div class='col-md-3'></div>
	<div class="col-md-6 profile">
		<table class='borderless table base'>
			<tr>
				<td><h2>Dropbox</h2></td>
					<td ng-if='user.dropbox_id.length == null'> <a href="" id='authlink' ng-click='authDropbox()' class='btn'>Link Dropbox</a></td>
					<td ng-if='user.dropbox_id.length > 0'><h2>Dropbox Connected!</h2></td>
			</tr>
		</table>
	</div>
	<div class="col-md-3"></div>
</div>

