.detail-img {
	width: 90%; 
	height: auto
}

.card {
  background-color: white; 
  padding: 10px
}

.wrapper {
    position: relative;
    padding: 0;
    display:block;
}
.text {
  position: absolute;
  top:61px;
  bottom: 0px;
  color: #FF0046;
  background-color: rgba(255, 255, 255, 0.4);
  width: 90%;
  height: calc(100% - 60px);
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  opacity: 0;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; 
}

.text:hover {
    opacity:1;
}


img {
    z-index:1;
}

.wrapper ul {
  list-style:none;
    padding-left:0;
}

.channel-list-grid {
  padding-left: 60px
}