// First three is to get the chat and video lined up in height
.display-container{
	overflow: hidden;
	height: 100%;
}

.left-col {
  float: left;
  height: 100%;
  padding-bottom: 500em;
  margin-bottom: -500em;	
}

.right-col {
  float: left;
  height: 100%;
  border-left: 1px solid black;
  padding-bottom: 500em;
  margin-bottom: -500em;	
}

.chatbox {
	height: 100%;
	min-width: 350px;
	min-height: 100%;
	padding-top: 50px;
}

.messages_container {
	height: 500px;
	max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow-y: scroll;
    border: 1px solid #dedede;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 100px;
    background-color: white;
}

.chat-container {
	height: 100%;
}

.main-footer {
	padding-top: 15px;
	margin-top: 20px;
}

.show-screen {
	z-index: 1;
	height: 200px;
	width: 200px;
}

.chat-wrap {
	word-wrap: break-word;
}

