<div class="container-fluid clearfix">
    <div id="left">
	    <h1>Broadcast Page</h1>
	    <h3>Room ID: {{uniqueID}}</h3>
	    <h3>Current Viewers: {{viewCount}}</h3>

	    <button ng-click="subscribe()" ng-if="user && watching && !isSubscribing"> Subscribe this broadcaster!</button>
	    <div ng-if="successfullySubscribed" class="well">
	    	You have subscribed to this broadcaster!
	    </div>

	    <div class='embed-responsive embed-responsive-16by9'>
	        <video id='video-broadcast' class='embed-responsive-item' controls autoplay></video>
	    </div>
	    <div class='container'>
	    	<span>Current Viewers: {{viewCount}}</span>
	    </div>
	</div>
	<div id="right-chat">
		<div id="chat-output"></div>
		<br>
		<input type="text" id="input-text-chat" placeholder="Enter text and press 'Enter/Return'">
	</div>    


</div> 