<div ng-show="broadcastingEnded">
  <h2>The Broadcast is ended!</h2>
  <h1 ng-show="watching">Thank you for watching!!!</h1>
  <button ng-click="goHome()"> Explore More Channels! </button>
</div>

<!-- <button ng-click="stopWatching()">Stop watching</button>
<button ng-click="showConnection()"> show connection</button> -->

<div ng-show="!broadcastingEnded" class="container-fluid clearfix">


<div class="container-fluid clearfix">
    <!-- <div class='row-fluid'> -->
	    <div class="col-xs-9 pull-left">
        <h1 ng-if="!ifLive">Broadcast Preview</h1>
		    <h1>{{channelName}} <img ng-if="ifLive" src="https://lh3.googleusercontent.com/nQg7jI69f-JzpAnsSN3P1ZqgV6ry-mCm51axrJVDA3oQjsSaFwhptUxyRYbPFZiXV74=w300" height="45px" width="auto"></h1>
		    <h3>Room ID: {{uniqueID}}</h3>
	    	<button ng-if="!ifLive" class='btn btn-success' ng-click="startBroadcast()" style="margin-bottom: 10px">Start Broadcast</button> 
        <button ng-if="ifLive" ng-click="stopBroadcasting()" style="margin-bottom: 10px"> Stop Broadcasting </button>

		    <button ng-click="subscribe()" ng-if="user && watching && !isSubscribing"> Subscribe this broadcaster!</button>
		    <div ng-if="successfullySubscribed" class="well">
		    	You have subscribed to this broadcaster!
		    </div>

		    <!-- used to take preview image -->
		    <canvas id="canvas" class='hidden'></canvas>
		    <div class='embed-responsive embed-responsive-16by9'>
		        <video id='main-broadcast' class='embed-responsive-item' controls autoplay></video>
			    
			    <div class='show-screen'>
				    <div class='embed-responsive embed-responsive-16by9'>
				        <video id='side-broadcast' class='embed-responsive-item' autoplay>
				        </video>	
				    </div>
				</div>    
		    </div>
        <h3>Current Viewers: {{viewCount}}</h3>

<a class='btn btn-primary' role='button' data-toggle='collapse' data-target='#recordControls' aria-expanded='false' aria-controls='recordControls'>Record a clip!</a>

<div id='recordControls' class='collapse'>
  <div ng-if='user && user.dropbox_id'>
    <div>
      <button ng-click='startRecordingStream()'>Start Recording</button>
      <button ng-click='stopRecordingStream()'>Stop Recording</button>
      <button ng-click='saveToDropbox()'>Save Recording</button>
    </div>
  </div>

  <div ng-if='user && !user.dropbox_id'>
    <a ui-sref='user'>Add Dropbox to Record</a>
  </div>

  <div ng-if='!user'>
    <a ui-sref='login'>Login or Register to Record</a>
  </div>

</div>


		</div>

		<div class="col-xs-3 chatbox pull-left">
			<div id="chat-output" class="messages_container">
				<div>Welcome to the Chat</div>
			</div>
			<!-- <br> -->

			<input type="text" id="input-text-chat" class='form-control' placeholder="Chat Here">
		</div>    
	<!-- </div> -->
</div> 



<div class="container-fluid text-center main-footer well">
<!--     <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">About us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">GitHub</a></li>        
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Help</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr> -->
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2016 Team Great Khan.</a></li>
            </ul>
        </div>
    </div>
</div>
