<div class="vid col-md-4 wrapper"> 
	<p> <h2> {{channel.name}} </h2> </p>
	<ul class="text">
		<br>
		<li> Views: {{channel.view}} </li>
		<div ng-repeat = "tag in channel.tags">
			<li><a ui-sref="channels({category: null, tag:tag, channelname:null})">#{{tag}}</a></li>
		</div>
		<li><button ng-click='joinRoom(channel)'>Join</button></li>
	</ul>
	<img class='detail-img' ng-src='{{channel.coverimage}}'>
</div>


<!-- <div class='vid col-md-4'> 
	<p> <h2> {{channel.name}} </h2> </p>
	<p> {{channel.category}} </p> -->
	<!-- <p> {{channel.tags}} </p> -->
<!-- 	<p> Views: {{channel.view}} </p>
	<img class='bordered detail-img' ng-src='{{channel.coverimage}}'>
	<br>
	<button ng-click='joinRoom(channel)'>Join {{channel.name}}</button>
	<div ng-repeat = "tag in channel.tags">
		<a ng-click="findChannelByTag(tag)">{{tag}}</a>
	</div>

</div>
 -->
