* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 0 !important;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

body { 
	background: transparent; 
}


html{
     background-image:url('http://i1067.photobucket.com/albums/u428/nfrnobo/livestream_dark_zpsqmhnhbxs.jpg');
     background-size:cover;
     background-repeat: no-repeat
}

button {
  background-color: rgba(255, 255, 255, 0.4); 
  font-size: 18px
}

a {
  font-size: 18px
}

input {
  padding: 8px 8px;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/main';
