* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 0 !important;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 20px;
  margin: 0 auto;
}

body { 
	background: transparent; 
}


html{
     background-color: #F1F0F0; 
     background-size:cover;
     background-repeat: no-repeat
}

button {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 18px !important;
}

a, label, input[type="text"], .btn {
  font-size: 18px
}

.title {
  padding-left: 45px;
}

.shadow {
  background-color: rgba(255, 255, 255, 0.4);
  border: none
}

@media screen and (max-width: 768px) {
  .padding-bottom[class*='col-xs'] {
    padding-bottom: 20px; } 
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

#open-title {
  color: white;
  font-size: 60px;
}

#title-div{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@import 'broadcastlive/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'custom/main';
