<div class='container'>
	<div class='well'>

	<!-- Create -->
		<h2 class='text-center'>Create a Broadcasting Channel</h2>
		<br>
        <ng-form name="broadcastForm" novalidate class='form-horizontal'>
        	<div class='col-xs-12 col-md-4 form-group'>
        		<label>Room Name</label>
	        	<input type="text" onClick="this.select();" required ng-model="broadcast.channelName" placeholder='*Required'>
	        </div>

        	<div class='col-xs-12 col-md-4 form-group'>
        		<label>Tags</label>
	            <input type="text" ng-model="tag" placeholder='Add Tags'>
	            <button ng-click="addTag()">Add Tag</button>
			</div>				

			<div class='col-xs-12 col-md-4 form-group w3-dropdown-hover padding-bottom'>
				<button ng-class="(broadcast.category)?'w3-btn w3-indigo': 'w3-btn w3-red'"> {{selectCategory}} </button>
				<!-- <button ng-if="broadcast.category" class="w3-btn w3-indigo"> Select a new category</button> -->
				<div class="w3-dropdown-content w3-border">
					<a ng-click="changeCategory('Politics')"> Politics</a>
					<a ng-click="changeCategory('Entertainment')"> Entertainment</a>
					<a ng-click="changeCategory('Cooking')"> Cooking</a>
					<a ng-click="changeCategory('Music')"> Music</a>
					<a ng-click="changeCategory('Educational')"> Educational</a>
					<a ng-click="changeCategory('Vlog')"> Vlog</a>
					<a ng-click="changeCategory('Events')"> Events</a>
					<a ng-click="changeCategory('Sports')"> Sports</a>
				</div>
			</div>

			<br

        	<div class='col-xs-12 col-md-4 checkbox'>
        		<label><input type="checkbox" ng-model="shareScreen" style="padding-bottom: 10px"> Broadcast Screen</label>
			</div>	


			<br clear='all'>


			<div class = "well padding-sides">
				<span class="big-strong ">Room Name: </span>
				<span class="big-strong">{{broadcast.channelName}}</span>	
				<br>
				<span class="big-strong ">Category: </span>
				<span class="big-strong">{{broadcast.category}}</span>
				<br>
				<span class="big-strong ">Tags: </span>
				<span class="big-strong tagsinput" ng-repeat="theTag in broadcast.tags"> {{theTag}} <a ng-click="removeTag(theTag)"><span class="glyphicon glyphicon-remove"></span></a> </span>
				<br>
				<span class="big-strong ">Broadcast Screen: </span>
			</div>

            <input type='submit' value='Preview Broadcast!' class='btn btn-primary padding-sides' ng-click="prepareBroadcast(broadcast)" ng-disabled='broadcastForm.$invalid'>
        </ng-form>	
	</div>
	<br>

	<div class="well" ng-if="user">
		send message to subscribers:<input type="text" ng-model="message">
		<button ng-click="sendMessage(message)">send message</button>
		<span ng-if="messageSent"> message sent!</span>
	</div>


	<div class="well">
		<p class='text-center'>
		Is speaker ready?: {{isSpeakerReady}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		Is webcam ready: {{isWebcamReady}}&nbsp&nbsp&nbsp&nbsp&nbsp
		Is microphone ready: {{isMicrophoneReady}}&nbsp&nbsp&nbsp&nbsp&nbsp
		</p>

		<p class=text-center>
		Get chrome extension
		https://chrome.google.com/webstore/detail/screen-capturing/ajhifddimkapgcifgcodmmfdlknahffk
		</p>
		<p class=text-center>
		Get firefox extension
		https://addons.mozilla.org/en-US/firefox/addon/enable-screen-capturing/
		</p>
	</div>


</div>