<div class='container'>
	<div class='well shadow'>

	<!-- Create -->
		<h2 class='text-center'>Create a Broadcasting Channel</h2>
		<br>
        <ng-form name="broadcastForm" novalidate>
	        	<div class='col-xs-12 col-md-4 form-group'>
	        		<label>Room Name</label>
		        	<input type="text" onClick="this.select();" required ng-model="broadcast.channelName" placeholder='*Required'>
		        </div>

<!-- 	        	<div class='col-xs-12 col-md-4 form-group'>
	        		<label>Category</label>
		            <input type="text" onClick="this.select();" required ng-model="broadcast.category" placeholder='*Required'>
				</div> -->

	        	<div class='col-xs-12 col-md-4 form-group'>
	        		<label>Tags</label>
		            <input type="text" onClick="this.select();" ng-model="broadcast.tags" placeholder='Add Tags' aria-describedby='helpBlock'>
		            <span id='helpBlock' class='help-block'>Current Tags: {{broadcast.tags}}</span>
				</div>				

			<div class='col-xs-12 col-md-4 w3-dropdown-hover padding-bottom'>
				<button ng-class="(broadcast.category)?'w3-btn w3-indigo': 'w3-btn w3-red'"> {{selectCategory}} </button>
				<!-- <button ng-if="broadcast.category" class="w3-btn w3-indigo"> Select a new category</button> -->
				<div class="w3-dropdown-content w3-border">
					<a ng-click="changeCategory('Politics')"> Politics</a>
					<a ng-click="changeCategory('Entertainment')"> Entertainment</a>
					<a ng-click="changeCategory('Cooking')"> Cooking</a>
					<a ng-click="changeCategory('Cooking')"> Music</a>
					<a ng-click="changeCategory('Cooking')"> Educational</a>
					<a ng-click="changeCategory('Cooking')"> Vlog</a>
					<a ng-click="changeCategory('Cooking')"> Events</a>
					<a ng-click="changeCategory('Cooking')"> Sports</a>
				</div>

			</div>

			<br clear='all'>


			<div class = "well padding-sides">
				<span class="big-strong ">Category: </span>
				<span class="big-strong">{{broadcast.category}}</span>
				</br>
				<span class="big-strong ">Tags: </span>			
			</div>

            <input type='submit' value='Preview Broadcast!' class='btn btn-primary padding-sides' ng-click="prepareBroadcast(broadcast)" ng-disabled='broadcastForm.$invalid'>

            <input type='submit' value='Begin Screen Share!' class='btn btn-primary padding-sides' ng-click="startScreenBroadcast(broadcast)" ng-disabled='broadcastForm.$invalid'>
        </ng-form>	
	</div>
	<br>

	<div class="well" ng-if="user">
	    <form name="messageform">
		    send message to subscribers: <input type="text" ng-model="message">
		    <button ng-click="sendMessage()">send message</button>
		</form>
	</div>

	<div class="well">
		Is speaker ready?: {{isSpeakerReady}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		Is webcam ready: {{isWebcamReady}}&nbsp&nbsp&nbsp&nbsp&nbsp
		Is microphone ready: {{isMicrophoneReady}}&nbsp&nbsp&nbsp&nbsp&nbsp
	</div>

</div>